<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909610626032-708obkloffjh5cp9t33fbj1gs4jpmsrk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909610626032-708obkloffjh5cp9t33fbj1gs4jpmsrk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>909610626032-aic536ic0bgq3smechcro4ohtn6jeq4v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCoK6iFjrr27aMVvWRUMFj__h7-ylOBAho</string>
	<key>GCM_SENDER_ID</key>
	<string>909610626032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>momuflix.aitek.cloud</string>
	<key>PROJECT_ID</key>
	<string>movie-flix-mxnzli</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-flix-mxnzli.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909610626032:ios:00bba53ff072a4bb8b0b35</string>
	<key>DATABASE_URL</key>
	<string>https://movie-flix-mxnzli-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>